body{
    background-color: rgb(208, 1, 87);
}

h1{
    background-color: rgb(4, 132, 223);
}



table{
    background-color: rgb(4, 132, 223);
}



table{
    width: 200px;
}


button{
    height: 60px;
    width: 100px;
}